PORT=5000
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=saas_commerce

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
